[Unit]
Description={{{ID}}} service
After=network.target

[Service]
User={{{USER}}}
Group={{{USER}}}

Type=simple
Restart=always

ExecStart={{{ROOT_DIR}}}/bin/{{{model.DAEMON_NAME}}} -datadir={{{ROOT_DIR}}}/data

{{#model.SERVICE_CONFIGURATION__ARRAY}}
{{{key}}}={{{value}}}
{{/model.SERVICE_CONFIGURATION__ARRAY}}

[Install]
WantedBy=default.target